# Your LaunchDarkly server-side SDK key
LAUNCHDARKLY_SDK_KEY=

# Your AWS credentials for Bedrock access
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Optional - defaults to "us-east-1"
AWS_DEFAULT_REGION=

# Override to use a different AI Config
LAUNCHDARKLY_COMPLETION_KEY=sample-completion
