# Your LaunchDarkly server-side SDK key
LAUNCHDARKLY_SDK_KEY=

# Provider API key(s) for the provider(s) your agent graph uses
OPENAI_API_KEY=

# Override to use a different AI Config
LAUNCHDARKLY_AGENT_GRAPH_KEY=sample-agent-graph
