# Your LaunchDarkly server-side SDK key
LAUNCHDARKLY_SDK_KEY=

# Provider API keys - fill in the ones for the provider(s) your AI config uses
OPENAI_API_KEY=
GOOGLE_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Override to use a different AI Config
LAUNCHDARKLY_COMPLETION_KEY=sample-completion
